.result{
    text-align: center;
    height: 48vh;
    width: 75vw;
    color: #000;
    margin-bottom: 37%;
  }
  body{
    overflow: hidden;
  }
  h1{
    color:rgb(48, 255, 48)
  }
  .score{
    color:rgb(0, 179, 255);
    margin: 6% 0%;
    
  }
  .score-section{
    background-color: #f8f8f8; 
    border-left: 5px solid rgb(134, 134, 243);
    width: 57%;
    height: 66vh;
    margin: 1rem auto 0 auto;
    padding: 1.5rem 2rem;
  }
  
  .flex{
    display: flex;
    justify-content:space-between;
    gap: 0rem;
  }
  
  .details{
    text-align: left;
  }
  
  .buttons{
    margin: 30px;
  }
  
  .play{
    background-color: #fff;
    border-color: rgb(118, 118, 214);
    color: rgb(118, 118, 214);
    margin-right: 30px;
    width: 15%;
  }
  
  .home-result{
    background-color: #fff;
    border-color: green;
    color:green;
    width: 15%;
  }
  h5{
    font-size: 21px;
    font-weight: 600;
  }
  .play:hover{
    background-color: rgb(0, 0, 255);
    color: #fff;
  }
  
  .home-result:hover{
    background-color: rgb(0, 255, 0);
    color:#fff;
  }